/*selector universal*/
/* {
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
}*/

/* reset css */
h1,h2,h3,h4,h5,h6,figure,p {
    margin: 0;
    padding: 0;
}

.container {
    width: 920px;
    margin: 0 auto;
    /* margin: 0; aplica a todos */
    /* margin: 0 0; el primero aplica top-bottom y el segundo right-left */
    /* margin: 0 0 0; top, right-left, bottom */
    /* margin: 0 0 0 0; top, right, bottom, left */
    /* margin-top, margin-right, margin-bottom, margin-left */
}

/* ENCABEZADO INICIO */
#encabezado {
    height: 135px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}

#encabezado figure {
    margin: 0;
}

#titulos * {
    margin: 0;
}

#lupita {
    display: flex;
}

#busqueda {
    display: inline-block;
    float: left;
}

#encabezado h1 { font-size: 1.5em; }
#encabezado h2 { font-size: 1em; }
#encabezado h3 { font-size: .9em; }
#encabezado h4 { font-size: .8em; }

/* ENCABEZADO FIN */

/* MENU INICIO */
#menu {
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: gainsboro;
}

#menu li {
    list-style-type: none;
    padding: 0;
}

#menu ul {
    padding: 0;
}
#menu>ul>li {
    display: inline-block;
}

/* quita subrayado */
#menu li a {
    text-decoration: none;
    color: black;
}

#menu>ul>li>a {
    padding: 10px;
    background-color: gainsboro;
    transition: 0.5s;
}

#menu>ul>li>a:hover {
    background-color:darkgray;
}

/* oculta objetos */
#menu li ul {
    display: none;
} 

/* MENU FIN */

#contenido {
}

/* NOTA IMPORTANTE INICIO */
#nota-importante {
    height: 360px;
    background-color: darkturquoise;
    margin: 20px 0;
    /* box-shadow: horizontal vertical blur color; */
    box-shadow: 0 0 15px darkgray;
}

#nota-importante img {
    border: 10px solid white;
}
  
/* NOTA IMPORTANTE FIN */

/* NOTA SECUNDARIA INICIO */
#notas-secundarias {
    min-height: 300px;
    width: 700px;
    display: inline-block;
    float: left;
}

#notas-secundarias article {
    display: flex;
    background-image: url('../images/separador-notas-secundarias.png');
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 40px;
    margin-bottom: 10px;
}

.sombra-img {
    box-shadow: 0px 0px 5px #bdbdbd;
}
.img-nota-secundaria {
    position: relative;
}

.img-nota-secundaria span {
    position: absolute;
    top: 10px;
    left: -5px;
    padding: 5px 10px;
    background-color: lightgray;
}

.titulo-nota-secundaria {
    font-size: 1.7em;
    line-height: 0.9em;
    font-variant: small-caps;
}

.cuerpo-nota-secundaria {
    padding-left: 20px;
    padding-right: 10px;
}

.intro-nota-secundaria {
    text-align: justify;
    margin: 10px 0;
}

.boton {
    background: #AA3521;
    display: inline-block;
    padding: 3px;
    box-shadow: 0px 1px 3px darkgray;
}

.boton>div {
    padding: 1px 20px;
    border: 1px solid rgba(255,255,255,.7)
}

.boton p {
    color: white;
    font-variant: small-caps;
    font-size: 1.1em;
}

/* NOTA SECUNDARIA FIN */

#publicidad {
    height: 300px;
    width: 220px;
    background-color:darkmagenta;
    display: inline-block;
    float: right;
}

#pie {
    height: 150px;
    background-color: rgba(255, 0, 147, 0.96);
    clear: both;
}