/*selector universal*/
/* {
    border: 1px solid red;
    padding: 10px;
    margin: 10px;
}*/
.container {
    width: 920px;
    margin: 0 auto;
    /* margin: 0; aplica a todos */
    /* margin: 0 0; el primero aplica top-bottom y el segundo right-left */
    /* margin: 0 0 0; top, right-left, bottom */
    /* margin: 0 0 0 0; top, right, bottom, left */
    /* margin-top, margin-right, margin-bottom, margin-left */
}

/* ENCABEZADO INICIO */
#encabezado {
    height: 135px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
}

#encabezado figure {
    margin: 0;
}

#titulos * {
    margin: 0;
}

#lupita {
    display: flex;
}

#busqueda {
    display: inline-block;
    float: left;
}

#encabezado h1 { font-size: 1.5em; }
#encabezado h2 { font-size: 1em; }
#encabezado h3 { font-size: .9em; }
#encabezado h4 { font-size: .8em; }

/* ENCABEZADO FIN */

/* MENU INICIO */
#menu {
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: gainsboro;
}

#menu li {
    list-style-type: none;
    padding: 0;
}

#menu ul {
    padding: 0;
}
#menu>ul>li {
    display: inline-block;
}

/* quita subrayado */
#menu li a {
    text-decoration: none;
    color: black;
}

#menu>ul>li>a {
    padding: 10px;
    background-color: gainsboro;
    transition: 0.5s;
}

#menu>ul>li>a:hover {
    background-color:darkgray;
}

/* oculta objetos */
#menu li ul {
    display: none;
} 

/* MENU FIN */

#contenido {
}

/* NOTA IMPORTANTE INICIO */
#nota-importante {
    height: 360px;
    background-color: darkturquoise;
    margin: 20px 0;
    /* box-shadow: horizontal vertical blur color; */
    box-shadow: 0 0 15px darkgray;
}

#nota-importante img {
    border: 10px solid white;
}
  
/* NOTA IMPORTANTE FIN */

#notas-secundarias {
    height: 300px;
    width: 700px;
    background-color: rgba(154, 14, 154, 0.69);
    display: inline-block;
    float: left;
}

#publicidad {
    height: 300px;
    width: 220px;
    background-color:darkmagenta;
    display: inline-block;
    float: right;
}

#pie {
    height: 150px;
    background-color: rgba(255, 0, 147, 0.96);
    clear: both;
}

